{{template "layout.html" .}} {{define "content"}}
<h2>Sign Up</h2>

{{if .Error}}
<div class="admonition error">
  <i data-lucide="circle-alert"></i>
  <p>{{.Error}}</p>
</div>
{{end}}

<div class="narrow">
  <form method="POST" action="/signup">
    <label for="customer_name">Your Name</label>
    <input
      type="text"
      id="customer_name"
      name="customer_name"
      placeholder="e.g. Anna Smith"
      required
    />

    <label for="account_name">Account Name</label>
    <input
      type="text"
      id="account_name"
      name="account_name"
      placeholder="e.g. Savings"
      required
    />

    <div class="buttons">
      <a href="/"><i data-lucide="chevron-left"></i> Back to Login</a>
      <button type="submit"><i data-lucide="circle-plus"></i> Open Account</button>
    </div>
  </form>
</div>
{{end}}
